@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,latin-ext);
/* =============================================================================
	GESTION DES FONTS
============================================================================= */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open-sans-light {
  font-weight: 300;
}
.open-sans-bold {
  font-weight: 700;
}
.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
/* =============================================================================
	TAILLE DE TEXTE
============================================================================= */
.txt-8 {
  font-size: 8px;
}
.txt-9 {
  font-size: 9px;
}
.txt-10 {
  font-size: 10px;
}
.txt-11 {
  font-size: 11px;
}
.txt-12 {
  font-size: 12px;
}
.txt-13 {
  font-size: 13px;
}
.txt-14 {
  font-size: 14px;
}
.txt-15 {
  font-size: 15px;
}
.txt-16 {
  font-size: 16px;
}
.txt-17 {
  font-size: 17px;
}
.txt-18 {
  font-size: 18px;
}
.txt-19 {
  font-size: 19px;
}
.txt-20 {
  font-size: 20px;
}
.txt-21 {
  font-size: 21px;
}
.txt-22 {
  font-size: 22px;
}
.txt-23 {
  font-size: 23px;
}
.txt-24 {
  font-size: 24px;
}
.txt-25 {
  font-size: 25px;
}
.txt-26 {
  font-size: 26px;
}
.txt-27 {
  font-size: 27px;
}
.txt-28 {
  font-size: 28px;
}
.txt-29 {
  font-size: 29px;
}
.txt-30 {
  font-size: 30px;
}
.txt-31 {
  font-size: 31px;
}
.txt-32 {
  font-size: 32px;
}
.txt-33 {
  font-size: 33px;
}
.txt-34 {
  font-size: 34px;
}
.txt-35 {
  font-size: 35px;
}
.txt-36 {
  font-size: 36px;
}
.txt-37 {
  font-size: 37px;
}
.txt-38 {
  font-size: 38px;
}
.txt-39 {
  font-size: 39px;
}
.txt-40 {
  font-size: 40px;
}
.txt-41 {
  font-size: 41px;
}
.txt-42 {
  font-size: 42px;
}
.txt-43 {
  font-size: 43px;
}
.txt-44 {
  font-size: 44px;
}
.txt-45 {
  font-size: 45px;
}
.txt-46 {
  font-size: 46px;
}
.txt-47 {
  font-size: 47px;
}
.txt-48 {
  font-size: 48px;
}
.txt-49 {
  font-size: 49px;
}
.txt-50 {
  font-size: 50px;
}
.txt-51 {
  font-size: 51px;
}
.txt-52 {
  font-size: 52px;
}
.txt-53 {
  font-size: 53px;
}
.txt-54 {
  font-size: 54px;
}
.txt-55 {
  font-size: 55px;
}
.txt-56 {
  font-size: 56px;
}
.txt-57 {
  font-size: 57px;
}
.txt-58 {
  font-size: 58px;
}
.txt-59 {
  font-size: 59px;
}
.txt-60 {
  font-size: 60px;
}
.txt-61 {
  font-size: 61px;
}
.txt-62 {
  font-size: 62px;
}
.txt-63 {
  font-size: 63px;
}
.txt-64 {
  font-size: 64px;
}
.txt-65 {
  font-size: 65px;
}
.txt-66 {
  font-size: 66px;
}
.txt-67 {
  font-size: 67px;
}
.txt-68 {
  font-size: 68px;
}
.txt-69 {
  font-size: 69px;
}
.txt-70 {
  font-size: 70px;
}
.txt-71 {
  font-size: 71px;
}
.txt-72 {
  font-size: 72px;
}
.txt-73 {
  font-size: 73px;
}
.txt-74 {
  font-size: 74px;
}
.txt-75 {
  font-size: 75px;
}
.txt-76 {
  font-size: 76px;
}
.txt-77 {
  font-size: 77px;
}
.txt-78 {
  font-size: 78px;
}
.txt-79 {
  font-size: 79px;
}
.txt-80 {
  font-size: 80px;
}
/* =============================================================================
	OTHERS
============================================================================= */
.txt-style-n {
  font-style: normal;
}
.txt-italic {
  font-style: italic;
}
.txt-weight-n {
  font-weight: normal;
}
.txt-lighter {
  font-weight: lighter;
}
.txt-bolder {
  font-weight: bolder;
}
.txt-bold {
  font-weight: bold;
}
.txt-capit {
  text-transform: capitalize;
}
.txt-lower {
  text-transform: lowercase;
}
.txt-upper {
  text-transform: uppercase;
}
.txt-justify {
  text-align: justify;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
/* RESET */
.txt-reset {
  margin: 0;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
}
/* =============================================================================
	GESTION DES COLOEURS
============================================================================= */
/** Variables :
	@color-list défini les noms des couleurs, et chaque nom correspond à un ensemble de variable suffixer par -name
	@color-{name} donne la valeur de la couleur par nom
	@hover-{name} donne le sens du changement de couleur en cas de hover :
		+1 ajoute #111 à la couleur et elle sera plus clair
		-1 retire #111 à la couleur et elle sera plus sombre
		0 ne change pas la couleur, bien pour le noir et le blanc
**/
/**
 * Une fonction pour gerer les propriétés CSS
 */
/**
 * Classes generator
 * .txt-[name]
 * Loop Less using @color-list as base list, calling the value of @color-[name]
 */
.txt-dimgrey {
  color: #797e80;
}
.txt-grey {
  color: #e0e4e7;
}
.txt-marine {
  color: #2863aa;
}
.txt-red {
  color: #f04d42;
}
.txt-bleudark {
  color: #3f4b56;
}
.txt-bleu {
  color: #39b4ed;
}
.txt-gris {
  color: #888888;
}
.txt-noir {
  color: #000000;
}
.txt-blanc {
  color: #ffffff;
}
/** fn: Hover color **/
/**
 * Classes generator
 * .hov-[name]
 * Loop using 2 list sync, one for name, one for colors values
 */
.hov-dimgrey {
  background-color: #797e80;
}
.hov-dimgrey:hover {
  background-color: #8a8f91;
}
.hov-dimgrey:hover {
  cursor: pointer;
}
.hov-grey {
  background-color: #e0e4e7;
}
.hov-grey:hover {
  background-color: #f1f5f8;
}
.hov-grey:hover {
  cursor: pointer;
}
.hov-marine {
  background-color: #2863aa;
}
.hov-marine:hover {
  background-color: #3974bb;
}
.hov-marine:hover {
  cursor: pointer;
}
.hov-red {
  background-color: #f04d42;
}
.hov-red:hover {
  background-color: #df3c31;
}
.hov-red:hover {
  cursor: pointer;
}
.hov-bleudark {
  background-color: #3f4b56;
}
.hov-bleudark:hover {
  background-color: #505c67;
}
.hov-bleudark:hover {
  cursor: pointer;
}
.hov-bleu {
  background-color: #39b4ed;
}
.hov-bleu:hover {
  background-color: #4ac5fe;
}
.hov-bleu:hover {
  cursor: pointer;
}
.hov-gris {
  background-color: #888888;
}
.hov-gris:hover {
  background-color: #999999;
}
.hov-gris:hover {
  cursor: pointer;
}
.hov-noir {
  background-color: #000000;
}
.hov-noir:hover {
  cursor: pointer;
}
.hov-blanc {
  background-color: #ffffff;
}
.hov-blanc:hover {
  cursor: pointer;
}
/** fn: Bouton  */
.bouton-dimgrey {
  background-color: #797e80;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-dimgrey:hover {
  background-color: #8a8f91;
}
.bouton-dimgrey:hover {
  cursor: pointer;
}
.bouton-grey {
  background-color: #e0e4e7;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-grey:hover {
  background-color: #f1f5f8;
}
.bouton-grey:hover {
  cursor: pointer;
}
.bouton-marine {
  background-color: #2863aa;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-marine:hover {
  background-color: #3974bb;
}
.bouton-marine:hover {
  cursor: pointer;
}
.bouton-red {
  background-color: #f04d42;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-red:hover {
  background-color: #df3c31;
}
.bouton-red:hover {
  cursor: pointer;
}
.bouton-bleudark {
  background-color: #3f4b56;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-bleudark:hover {
  background-color: #505c67;
}
.bouton-bleudark:hover {
  cursor: pointer;
}
.bouton-bleu {
  background-color: #39b4ed;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-bleu:hover {
  background-color: #4ac5fe;
}
.bouton-bleu:hover {
  cursor: pointer;
}
.bouton-gris {
  background-color: #888888;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-gris:hover {
  background-color: #999999;
}
.bouton-gris:hover {
  cursor: pointer;
}
.bouton-noir {
  background-color: #000000;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-noir:hover {
  cursor: pointer;
}
.bouton-blanc {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  /*.icon-flechebas {
		.fleche-bas-vert;
		display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 10px;
	}
	&.actif {
		.icon-flechebas { display: block; }
	}*/
}
.bouton-blanc:hover {
  cursor: pointer;
}
/* =============================================================================
	CUSTOM LESS/CSS
============================================================================= */
body {
  /* =============================================================================
	RESET PARENT THEME CLASSES
============================================================================= */
  /* =============================================================================
	MENU TOP BARRE LOGO
============================================================================= */
  /* =============================================================================
	SLIDER TYPE 1 VIGNETTE
============================================================================= */
  /* =============================================================================
	MIDDLE BAR
============================================================================= */
  /* =============================================================================
	FOOTER
============================================================================= */
  /* =============================================================================
	SINGLE PAGE
============================================================================= */
  /* =============================================================================
	BLOG POST LIST
============================================================================= */
  /* =============================================================================
	EDITOR STYLE
============================================================================= */
  /* =============================================================================
	RESET EDITOR CLASSES
============================================================================= */
  /**
 * Nous contacter
 */
  /* =============================================================================
	MEDIA
============================================================================= */
  /* =============================================================================
	GESTION DU RESPONSIVE
============================================================================= */
}
body ::-moz-selection {
  background: #39b4ed;
  color: #fff;
  text-shadow: none;
}
body ::selection {
  background: #39b4ed;
  color: #fff;
  text-shadow: none;
}
body .main-font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .main-font-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-weight: 200;
}
body .main-font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-weight: 600;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body form {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body form input[type="text"],
body form input[type="password"],
body form input[type="email"],
body form input[type="reset"],
body form select,
body form textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .multi_select_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .dropdown {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .toggle.box,
body h3.toggle.box {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .content .widget-container .widget-title,
body .content .widget-container h3,
body .sidebar .widget-container .widget-title,
body .sidebar .widget-container h3,
body .widget_calendar table caption {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .widget_featured_posts {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .author-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .widget_links h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .comment-form p.form-submit #submit {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body #TB_ajaxContent .btn-submit {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .syntaxhighlighter .plain,
body .syntaxhighlighter .plain a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .cusel {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .featured_caption p strong {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .offers_slider .slide_text h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .testimonials .quote-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .text_notice {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .author-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body .tp-caption.big_title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
body a,
body .dropdown .menu-level-0.last a,
body .dropdown .menu-level-0.last:hover a,
body .dropdown li:hover a,
body .dropdown li ul li:hover a,
body .dropdown li:hover li ul li:hover a,
body .dropdown .current-menu-ancestor .current-menu-item a,
body .dropdown .current-menu-ancestor .current-menu-ancestor a,
body .dropdown .current-menu-ancestor .current-menu-ancestor .current-menu-item a,
body .dropdown .mega-nav ul li:hover ul li:hover a,
body .dropdown .mega-nav .widget_twitter .tweet_item a,
body .dropdown .mega-nav .widget_recent_entries li a:hover,
body .dropdown .mega-nav .widget_featured_posts li .post-title a:hover,
body .dropdown .mega-nav .widget_twitter .tweet_item a:hover,
body .info_line,
body .footer_address .notice,
body .testimonials .quote-text a,
body .week_offer .offer_text h3 a,
body .special_text h3 a,
body .latest_offers .link_more,
body .brand_list .link_more,
body .brand_list2 li a,
body .breadcrumbs .link_search,
body .breadcrumbs .link_back,
body .link-news-rss span,
body .sidebar .widget_archive li a,
body .widget_twitter .tweet_item a,
body .widget_calendar table a,
body .widget_recent_posts ul li .post-title,
body .widget_popular_posts ul li .post-title,
body .content .link-arrow,
body .widget_login .forget_password a,
body .post-item .post-meta .info_row,
body .entry a,
body .text_box p a,
body .tf_pagination .page-numbers:hover,
body .tf_pagination .page_current,
body .author-text .author-title,
body .link-add-comment,
body .link-reset,
body .offer_list .offer_item h2 a,
body .offer_specification li .spec_value,
body form .cusel span:hover,
body form .cusel .cuselOptHover,
body form .cusel .cuselActive,
body form .cusel .cuselActive:hover {
  color: #39b4ed;
}
body .header_top .logo {
  overflow: visible;
}
body .header_top .logo img {
  max-width: auto;
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
body .header_top .dropdown {
  font-weight: 600;
}
body .header_top .dropdown li a {
  color: #fff;
}
body .header_top .dropdown li ul li a,
body .header_top .dropdown li:hover ul li a {
  color: #000;
  text-shadow: initial;
  font-size: 12px;
}
body .header_top .dropdown li.parentHover {
  background-image: none;
}
body .header_top .dropdown li ul li,
body .header_top .dropdown .parentHover ul li {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: none;
}
body .header_top .dropdown li ul li a,
body .header_top .dropdown li ul li:hover a {
  color: #39b4ed;
  background: initial;
  padding: 8px 15px 0 15px;
}
body .header_top .dropdown li ul li a span {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
body .header_top .dropdown li ul li:last-child a span {
  padding-bottom: 9px;
  border-bottom: none;
}
body .header_top .dropdown > li:after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 8px solid rgba(255, 255, 255, 0.9);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -12px;
  display: none;
}
body .header_top .dropdown .parentHover:after {
  display: block;
}
body .header_top .dropdown > .menu-item {
  margin-right: 17px;
}
body .header_top .dropdown > .menu-item.last {
  margin-right: 0;
}
body .header_top .dropdown > .menu-item.last > a {
  background-color: #39b4ed;
  padding: 4px 15px;
  height: 25px;
  line-height: 25px;
  margin-top: -8px;
}
body .header_top .dropdown > .menu-item.last > a:hover {
  background-color: #4ac5fe;
}
body .header_top .dropdown > .menu-item.last > a:hover {
  cursor: pointer;
}
body .header_top .dropdown > .menu-item.last > a > span {
  color: #fff;
  padding-right: 20px;
  background-position: right center;
  vertical-align: middle;
  text-shadow: initial;
  background-image: url(../images/icons/icon_location.png);
}
body .header_top .dropdown .current-menu-item a,
body .header_top .dropdown .current-menu-ancestor > a {
  color: #39b4ed;
}
body .header_top .dropdown > .menu-item.last > a {
  background-image: initial;
}
body .header_thin {
  background-size: initial;
  background-position: center top;
}
body .header_title {
  background: rgba(57, 180, 237, 0.95);
  line-height: 126px;
  height: auto;
}
body .header_title h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-weight: 200;
  display: inline-block;
  width: 100%;
  line-height: normal;
  padding: 0;
  text-shadow: initial;
  font-size: 45px;
  color: #FFF;
  vertical-align: middle;
  text-transform: uppercase;
}
body .caption-title {
  height: 37px;
  line-height: 37px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .caption-subtitle {
  font-style: normal;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .caption-big {
  font-weight: 700;
}
body .caption-sub-bleu {
  color: #39b4ed;
  font-style: normal;
  text-shadow: initial;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .caption-blanc-big {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FFF;
  height: 37px;
  line-height: 37px;
  padding: 0 20px;
}
body .caption-blanc {
  font-style: normal;
  background-color: #FFF;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding: 0 20px;
}
body .tp-simpleresponsive .caption,
body .tp-simpleresponsive .tp-caption,
body .tp-caption.text_line {
  background: initial !important;
}
body .middle_row.search_row.search_before {
  background-color: #39b4ed;
  color: #fff;
}
body .middle_row.search_row.search_before .label_title,
body .middle_row.search_row.search_before #adv_search_open,
body .middle_row.search_row.search_before .link-reset {
  color: #fff;
}
body .middle_row.search_row {
  background-color: #2863aa;
  color: #fff;
}
body .middle_row.search_row .label_title,
body .middle_row.search_row #adv_search_open,
body .middle_row.search_row .link-reset {
  color: #fff;
}
body .middle_row.row_light_gray {
  border: none;
}
body .middle_row.testimonials {
  background-color: #f04d42;
  color: #fff;
}
body .middle_row.testimonials a,
body .middle_row.testimonials .quote-author,
body .middle_row.testimonials .quote-author span {
  color: #fff;
}
body .middle_row.testimonials a:hover {
  text-decoration: underline;
}
body .middle_row.breadcrumbs a {
  color: #39b4ed;
}
body .middle_row.breadcrumbs a:hover {
  color: #28a3dc;
}
body .multi_select_text {
  background-color: #FFF;
  padding: 7px 25px 7px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body .btn_default,
body .btn_search,
body .btn-submit,
body input.btn-submit,
body .comment-form .btn-submit,
body .widget_search input.btn-submit,
body .btn_send:hover,
body .btn_save:hover,
body .tf_pagination .page_prev:hover,
body .tf_pagination .page_next:hover {
  background-color: #3f4b56;
  border: none;
}
body .btn_default:hover,
body .btn_search:hover,
body .btn-submit:hover,
body input.btn-submit:hover,
body .comment-form .btn-submit:hover,
body .widget_search input.btn-submit:hover,
body .btn_send:hover:hover,
body .btn_save:hover:hover,
body .tf_pagination .page_prev:hover:hover,
body .tf_pagination .page_next:hover:hover {
  background-color: #505c67;
}
body .btn_default:hover,
body .btn_search:hover,
body .btn-submit:hover,
body input.btn-submit:hover,
body .comment-form .btn-submit:hover,
body .widget_search input.btn-submit:hover,
body .btn_send:hover:hover,
body .btn_save:hover:hover,
body .tf_pagination .page_prev:hover:hover,
body .tf_pagination .page_next:hover:hover {
  cursor: pointer;
}
body .btn:hover {
  background-image: initial;
}
body .btn_search input {
  width: auto;
  background-position: 10px 11px;
  text-indent: 30px;
  text-shadow: initial;
  padding: 0 10px 0 0;
}
body .btn input,
body .btn span,
body .btn,
body .btn_search {
  width: auto;
  font-weight: normal;
}
body .testimonials .quote-text {
  color: #FFF;
  font-style: normal;
}
body .testimonials .quote-text a {
  font-weight: bold;
}
body .footer {
  background-color: #fff;
  border: none;
}
body .footer .container {
  padding: 60px 0 30px 0;
}
body .footer .footer_social {
  background: #fff;
  border: none;
  margin: 0;
}
body .footer .footer_social .container {
  padding: 0;
}
body .footer .footer_social .social_inner {
  border-top: 1px solid #39b4ed;
  border-bottom: none;
}
body .footer .footer_iveco {
  background: #000;
  padding-bottom: 40px;
}
body .footer .footer_iveco .container {
  padding: 22px 0 17px;
  border-bottom: 1px solid #39b4ed;
}
body .footer .footer_contacts {
  color: #fff;
}
body .footer .footer_contacts a {
  color: #fff;
}
@hover {
  text-decoration: underline;
}
body .footer .footer_address {
  color: #000;
}
body .footer .f_col h3 {
  color: #000;
}
body .footer .f_col a {
  color: #39b4ed;
}
@hover {
  text-decoration: underline;
}
body .entry .page_title {
  display: none;
}
body .post-item .post-image {
  display: block;
  float: none;
  font-size: 0;
  margin: 0 0 15px 0;
}
body .post-item .post-image.alignleft {
  padding: 0;
}
body .post-item .post-image img {
  width: 100%;
}
body .post-item .link_more {
  color: #f04d42;
}
body .post-item .link_more span {
  top: -1px;
}
body .post-item .link_more:hover {
  color: #ff5e53;
}
body .postlist .post-item .post-image {
  display: block;
  float: none;
  font-size: 0;
  margin: 0 0 15px 0;
}
body .postlist .post-item .post-image.alignleft {
  padding: 0;
}
body .postlist .post-item .post-image img {
  width: 100%;
}
body .postlist .post-item .link_more {
  color: #f04d42;
}
body .postlist .post-item .link_more span {
  top: -1px;
}
body .postlist .post-item .link_more:hover {
  color: #ff5e53;
}
body .postlist .post-aside,
body .post-detail .post-aside {
  border-bottom: 3px solid #39b4ed;
}
body.wp-editor,
body .entry {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3f4b56;
}
body.wp-editor h1,
body .entry h1,
body.wp-editor h2,
body .entry h2,
body.wp-editor h3,
body .entry h3,
body.wp-editor h4,
body .entry h4,
body.wp-editor h5,
body .entry h5,
body.wp-editor p,
body .entry p {
  margin: 0;
}
body.wp-editor p,
body .entry p {
  line-height: 1.3em;
  margin-bottom: .5em;
}
body.wp-editor img.size-full,
body .entry img.size-full {
  border-bottom: 3px solid #39b4ed;
}
body .iv-titre-page,
body h2.tfuse {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-weight: 200;
  font-weight: lighter;
  font-size: 56px;
  text-align: center;
  text-transform: uppercase;
}
body .iv-titre-page p,
body h2.tfuse p {
  margin: 0;
}
body .iv-titre-article,
body h3.tfuse {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}
body .iv-titre-sub {
  font-weight: normal;
  font-size: 16px;
  text-transform: initial;
  line-height: 1.25em;
  padding: 0 40px 15px;
}
body .box-location {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 3px 1px 0 #2863aa;
  margin-bottom: 40px;
}
body .box-location p {
  margin: 0;
  padding: 0;
}
body .box-location .location-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #2863aa;
  text-transform: uppercase;
  font-size: 18px;
}
body .box-location .location-name {
  padding: 0;
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 18px;
  color: #f04d42;
  font-size: 16px;
}
body .box-location .location-address {
  margin-bottom: 15px;
  color: #3f4b56;
  line-height: normal;
}
body .box-location .location-info {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #2863aa;
  font-size: 16px;
}
body .box-location .location-maps {
  float: right;
  width: 145px;
  height: 145px;
  -webkit-mask-image: -webkit-radial-gradient(circle, black 100%, white 100%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body .box-location .location-maps .gmnoprint {
  display: none;
}
body .box-location .location-maps .frame_box {
  margin: 0;
}
body .box-location .location-link {
  float: right;
  clear: right;
  width: 145px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  color: #f04d42;
  font-size: 14px;
}
body .box-location .location-link:hover {
  color: #f04d42;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  body .header_top .logo {
    width: 156px;
  }
  body .header_top #topmenu {
    padding-left: 190px;
    width: 554px;
  }
  body .header_top .dropdown .menu-item {
    margin: 0 10px 0 0;
  }
  body .header_top .dropdown > .menu-item.last > a {
    padding: 4px 10px;
  }
}
/* =============================================================================
	RESPONSIVE MEDIA
============================================================================= */
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .search_row .multi_select_text {
    width: 99px!important;
  }
  .search_row.search_before .row:first-child {
    margin: 0 5px!important;
  }
  .search_row .rowSubmit {
    height: 65px;
  }
  .contact_form .form_col_1 .row {
    width: 150px !important;
  }
}
@media only screen and (min-width: 280px) and (max-width: 989px) {
  .search_row .multi_select_text {
    width: 99px!important;
  }
  .search_row .rowSubmit {
    height: 65px;
  }
}
