@import url('./mod-texte.less');
@import url('./mod-color.less');

/* =============================================================================
	CUSTOM LESS/CSS
============================================================================= */
// body start
body {

// Change selection colors
::-moz-selection {
	background: (@color-bleu);
	color: #fff;
	text-shadow: none
}
::selection {
	background: (@color-bleu);
	color: #fff;
	text-shadow: none
}

/* =============================================================================
	RESET PARENT THEME CLASSES
============================================================================= */

// =================================
// font-family: 'Cabin', sans-serif;
// >> font-family: "Open Sans";
.main-font {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.main-font-light {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
.main-font-lighter {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}
.main-font-bold {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
h1, h2, h3, h4, h5, h6 { .main-font; }
form {
	.main-font;

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="reset"],
	select,
	textarea {
		.main-font;
	}
}
button { .main-font; }
.multi_select_text { .main-font;}
.dropdown { .main-font; }
.toggle.box, h3.toggle.box { .main-font; }
.content .widget-container .widget-title,
.content .widget-container h3,
.sidebar .widget-container .widget-title,
.sidebar .widget-container h3,
.widget_calendar table caption { .main-font; }
.widget_featured_posts { .main-font; }
.author-name { .main-font; }
.widget_links h3 { .main-font; }
.comment-form  p.form-submit #submit { .main-font; }
#TB_ajaxContent .btn-submit { .main-font; }

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a { .main-font; }
.cusel { .main-font; }

// =================================
// font-family:'PT Serif Caption', serif;
// >> font-family: "proxima-nova";
.featured_caption p strong { .main-font; }
.offers_slider .slide_text h2 { .main-font; }
.testimonials .quote-text { .main-font; }
.text_notice { .main-font; }
.author-description { .main-font; }
.tp-caption.big_title { .main-font; }

a,
// a:visited,
.dropdown .menu-level-0.last a,
.dropdown .menu-level-0.last:hover a,
.dropdown li:hover a,
.dropdown li ul li:hover a,
.dropdown li:hover li ul li:hover a,
.dropdown .current-menu-ancestor .current-menu-item a,
.dropdown .current-menu-ancestor .current-menu-ancestor a,
.dropdown .current-menu-ancestor .current-menu-ancestor .current-menu-item a,
.dropdown .mega-nav ul li:hover ul li:hover a,
.dropdown .mega-nav .widget_twitter .tweet_item a,
.dropdown .mega-nav .widget_recent_entries li a:hover,
.dropdown .mega-nav .widget_featured_posts li .post-title a:hover,
.dropdown .mega-nav .widget_twitter .tweet_item a:hover,
.info_line,
.footer_address .notice,
.testimonials .quote-text a,
.week_offer .offer_text h3 a,
.special_text h3 a,
.latest_offers .link_more,
.brand_list .link_more,
.brand_list2 li a,
.breadcrumbs .link_search,
.breadcrumbs .link_back,
.link-news-rss span,
.sidebar .widget_archive li a,
.widget_twitter .tweet_item a,
.widget_calendar table a,
.widget_recent_posts ul li .post-title,
.widget_popular_posts ul li .post-title,
.content .link-arrow,
.widget_login .forget_password a,
.post-item .post-meta .info_row,
.entry a,
.text_box p a,
.tf_pagination .page-numbers:hover,
.tf_pagination .page_current,
.author-text .author-title,
.link-add-comment,
.link-reset,
.offer_list .offer_item h2 a,
.offer_specification li .spec_value,
form .cusel span:hover,
form .cusel .cuselOptHover,
form .cusel .cuselActive,
form .cusel .cuselActive:hover {
	color: @color-bleu;
}


/* =============================================================================
	MENU TOP BARRE LOGO
============================================================================= */
.header_top {
	.logo {
		overflow: visible;
		img {
			margin-top: -10px;
		}
	}
	.dropdown {
		font-weight: 600;
	}
	.dropdown li ul.submenu-1 {
		margin-top: 20px;
		padding: 0;
		box-shadow: 0px 2px 2px 0px #ccc;
	}
	.dropdown li a {
		color: #fff; //blanc pour les titres parent
	}
	.dropdown li ul li a,
	.dropdown li:hover ul li a {
		color: #000; //noir pour les sous menu
		text-shadow: initial;
		font-size: 12px;
	}
	.dropdown li.parentHover {
		background-image: none;
	}
	.dropdown li ul li,
	.dropdown .parentHover ul li { //fond blanc pour les sous menus
		background-color: rgba(255, 255, 255, 0.9);
		background-image: none;
	}
	.dropdown li ul li a,
	.dropdown li ul li:hover a {
		color: @color-bleu;
		background: initial;
		padding: 8px 15px 0 15px;
	}
	.dropdown li ul li a span {
		padding-bottom: 8px;
		border-bottom: 1px solid #ccc;
	}
	.dropdown li ul li:last-child a span {
		padding-bottom: 9px;
		border-bottom: none;
	}
	.dropdown > li:after{
		content: '';
		width: 0;
		height: 0;
		border-bottom: 8px solid rgba(255, 255, 255, 0.9);
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -12px;
		display: none;
	}
	.dropdown .parentHover:after{
		display: block;
	}
	.dropdown > .menu-item {
		margin-right: 17px;
	}
	.dropdown > .menu-item.last {
		margin-right: 0;
		& > a {
			.hov-bleu;
			padding: 4px 15px;
			height: 25px;
			line-height: 25px;
			margin-top: -8px;

			& > span {
				color: #fff;
				padding-right: 20px;
				background-position: right center;
				vertical-align: middle;
				text-shadow: initial;
				background-image: url(../images/icons/icon_location.png);
			}
		}
	}
	.dropdown .current-menu-item a, .dropdown .current-menu-ancestor > a {
		color: @color-bleu;
	}
	.dropdown > .menu-item.last > a {
		background-image: initial;
	}
}

.header_thin {
	background-size: initial;
	background-position: center top;
}

.header_title {
	background: rgba(57, 180, 237, .95);
	line-height: 126px;
	height: auto;
	h1 {
		.main-font-light;
		display: inline-block;
		width: 100%;
		line-height: normal;
		padding: 0;
		text-shadow: initial;
		font-size: 45px;
		color: #FFF;
		vertical-align: middle;
		text-transform: uppercase;
	}
}

/* =============================================================================
	SLIDER TYPE 1 VIGNETTE
============================================================================= */
.caption-title {
	height: 37px;
	line-height: 37px;
	// font-size: 35px;
	background-color: rgba(255, 255, 255, 0.5);
}
.caption-subtitle {
	.txt-style-n;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.5);
}
.caption-big {
	font-weight: 700;
}
.caption-sub-bleu {
	.txt-bleu;
	.txt-style-n;
	text-shadow: initial;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.5);
}
.caption-blanc-big {
	font-weight: 700;
	text-transform: uppercase;
	// font-size: 35px;
	background-color: #FFF;
	// width: 320px;
	height: 37px;
	line-height: 37px;
	// text-align: center;
	padding: 0 20px;
}
.caption-blanc {
	.txt-style-n;
	background-color: #FFF;
	// width: 320px;
	height: 30px;
	line-height: 30px;
	// text-align: center;
	font-size: 18px;
	padding: 0 20px;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption, .tp-caption.text_line { background: initial !important; }

/* =============================================================================
	MIDDLE BAR
============================================================================= */

// Barre Search : bleu clair
.middle_row.search_row.search_before {
	background-color: @color-bleu; color: #fff;
	.label_title, #adv_search_open, .link-reset { color: #fff; }
}
// Barre Shortcodes before Content, Shortcodes After Content : bleu marine
.middle_row.search_row {
	background-color: @color-marine; color: #fff;
	.label_title, #adv_search_open, .link-reset { color: #fff; }
}
// Barre Shortcodes Before Slider : grey
.middle_row.row_gray {}
// Barre After Content Box Gray : light grey
.middle_row.row_light_gray {
	border: none;
}
// Barre testimonial : rouge
.middle_row.testimonials {
	background-color: @color-red;
	color: #fff;
	a, .quote-author, .quote-author span { color: #fff; }
	a:hover { text-decoration: underline; }
}
// Fil d'ariane
.middle_row.breadcrumbs {
	a {
		color: @color-bleu;
		&:hover { color: (@color-bleu - #111); }
	}
}

// Search form
.multi_select_text {
	background-color: #FFF;
	padding: 7px 25px 7px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn_default, .btn_search, .btn-submit, input.btn-submit, .comment-form .btn-submit, .widget_search input.btn-submit, .btn_send:hover, .btn_save:hover, .tf_pagination .page_prev:hover, .tf_pagination .page_next:hover {
	.hov-bleudark;
	border: none;
}
.btn:hover { background-image: initial; }
.btn_search input {
	width: auto;
	background-position: 10px 11px;
	text-indent: 30px;
	text-shadow: initial;
	padding: 0 10px 0 0;
}
.btn input, .btn span, .btn, .btn_search {
	width: auto;
	font-weight: normal;
}
.testimonials .quote-text {
	color: #FFF;
	.txt-style-n;
	a { .txt-bold; }
}

/* =============================================================================
	FOOTER
============================================================================= */
.footer {
	background-color: #fff;
	border: none;
	.container {
		padding: 60px 0 30px 0;
	}
	.footer_social {
		background: #fff;
		border: none;
		margin: 0;
		.container { padding: 0; }
		.social_inner {
			border-top: 1px solid @color-bleu;
			border-bottom: none;
		}
	}
	.footer_iveco {
		background: #000;
		padding-bottom: 40px;
		.container {
			padding: 22px 0 17px;
			border-bottom: 1px solid @color-bleu;
		}
	}
	.footer_contacts {
		color: #fff;
		a {
			color: #fff;
			@hover { text-decoration: underline; }
		}
	}
	.footer_address { color: #000; }
	.f_col {
		h3 { color: #000; }
		a {
			color: @color-bleu;
			@hover { text-decoration: underline; }
		}
	}
}

/* =============================================================================
	SINGLE PAGE
============================================================================= */
.entry {
	.page_title { display: none; }
}

/* =============================================================================
	BLOG POST LIST
============================================================================= */
.post-item {
	.post-image {
		display: block;
		float: none;
		font-size: 0;
		margin: 0 0 15px 0;
		&.alignleft { padding: 0; }
		img { width: 100%; }
	}
	.link_more {
		color: @color-red;
		span {
			top: -1px;
		}
		&:hover {color: (@color-red+#111);}
	}
}

.postlist {
	.post-item {
		.post-item;
	}
}

.postlist .post-aside, .post-detail .post-aside {
	border-bottom: 3px solid @color-bleu;
}


/* =============================================================================
	EDITOR STYLE
============================================================================= */
@import url('./editor-styles.less');

/* =============================================================================
	MEDIA
============================================================================= */
@import url('./mod-media.less');


// body end
}


/* =============================================================================
	RESPONSIVE MEDIA
============================================================================= */
@media only screen and (min-width: 768px) and (max-width: 989px) {
	.search_row .multi_select_text {
		width: 99px!important;
	}
	.search_row.search_before .row:first-child {
		margin: 0 5px!important;
	}
	.search_row .rowSubmit {
		height: 65px;
	}
	.contact_form .form_col_1 .row {
		width: 150px !important;
	}
}

@media only screen and (min-width: 280px) and (max-width: 989px) {
	.search_row .multi_select_text {
		width: 99px!important;
	}
	.search_row .rowSubmit {
		height: 65px;
	}
}



